.container {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

h1 {
    font-size: 3rem;
    color:aliceblue;
}

input {
  padding: 10px;
  border-radius: 20px 0px 0 20px;
  border: none;
  width: 60%;
  max-width: 300px;
  outline: none;

}

button {
  background-color: rgb(248, 172, 57);
  border: 0;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  color: azure;
  font-weight: bold;
}

button:hover {
  background-color: brown;
}